body{
  background-image: url(./imgs/fundo-site.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  color: #f3f3f3;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 30px;
}

.cartao{
  background-color: #070d12;
  width: 470px;
  /* border: 2px solid #e126d9; */
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem;
}
.cartao-border{
  background: linear-gradient(-45deg, #e126d9, #02d08f);
  max-width: 550px;
  padding: 1rem;
  padding: 3px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.cartao .abas{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartao .abas img{
  width: 30px;
  filter: invert(100%);
  mix-blend-mode: exclusion;
}

.cartao .abas .aba{
  height: 50px;
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.cartao .abas .aba.selecionado{
  background-color: #262626;
}

.cartao .informacoes-abas{
  background-color: #262626;
}

.cartao .abas .aba:hover{
  background-color: #414141;
}

.cartao .minhas-informacoes{
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.foto-perfil{
  border-radius: 75px;
  border: 4px solid #02d08f;
  max-width: 125px;
  min-width: 75px;
  min-height: 75px;
  width: 125px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.clicado{
  background-image: url("./imgs/close-edit-astronauta.png")
}

.cartao .minhas-informacoes .nome{
  font-size: 32px;
}

.cartao .minhas-informacoes .cargo{
  font-size: 18px;
  color: #b8bbc5;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.cartao .conteudo{
  margin-top: 15px;
}

.informacoes-abas .informacao{
  min-height: 260px;
  padding: 15px;
  display: none;
}

.informacoes-abas .informacao.selecionado{
  display: block;
}

.informacoes-abas .sub-titulo{
  font-size: 32px;
  margin-bottom: 25px;
  text-align: center;
}

.informacoes-abas .descricao{
  font-size: 20px;
  max-height: 350px;
  overflow-y: auto;
  padding-right: 15px;
}

.informacoes-abas .descricao span{
  color: #02d08f;
}

.redes-sociais{
  display: flex;
  flex-direction: column;
  /* gap: 25px; */
  align-items: center;
  height: 350px;
  overflow-y: auto;
}

.redes-sociais li a{
  width: 250px;
  display: block;
  color: #f3f3f3;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
}

.redes-sociais li:hover{
  background-color: rgba(7, 13, 18);
  opacity: 10;
  transition: opacity 0.5s ease-in-out,
}

.redes-sociais .curriculo{
  background-color: #C08552;
}

.redes-sociais .linkedin{
  background-color: #1d87bd;
}

.redes-sociais .github{
  background-color: #545454;
}

.redes-sociais .whatsapp{
  background-color: #53CA75;
}

/*Código da barra de rolagem no body*/

body {
  --sb-track-color: #414141;
  --sb-thumb-color: #e126d9;
  --sb-size: 8px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 14px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 14px;
  border: 1px solid #414141;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

/*Código da barra de rolagem no descricao*/

.descricao {
  --sb-track-color: #414141;
  --sb-thumb-color: #e126d9;
  --sb-size: 8px;
  line-height: 130%;
}

.descricao::-webkit-scrollbar {
  width: var(--sb-size)
}

.descricao::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 14px;
}

.descricao::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 14px;
  border: 1px solid #414141;
}

@supports not selector(::-webkit-scrollbar) {
  .descricao {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

/*Código da barra de rolagem caso colocar mais redes sociais*/

.redes-sociais {
  --sb-track-color: #414141;
  --sb-thumb-color: #e126d9;
  --sb-size: 8px;
}

.redes-sociais::-webkit-scrollbar {
  width: var(--sb-size)
}

.redes-sociais::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 14px;
}

.redes-sociais::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 14px;
  border: 1px solid #414141;
}

@supports not selector(::-webkit-scrollbar) {
  .redes-sociais {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

/* Efeito dos Botões */

/* default button */
.btn {
  color: #fff;
  margin: 0 0 2em;
  max-width: 250px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  border-radius: 0rem;
  padding: 0rem;

  @media(min-width: 600px) {
    margin: 0 1em 2em;
  }

  &:hover { text-decoration: none; }

}

/* button one */

.btn-1 {
  font-weight: 100;

  svg {
    height: 47px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
  }
}

.btn-1:hover {
  font-weight: 900;
  letter-spacing: 1px;

  rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

/* Alt Text */

  .alt-wrap {
    display: block;
    position: relative;
    margin: 20px;
    color: whitesmoke;
  }

  .alt-wrap p.alt {
    position: absolute;
    opacity: 0; /* hide initially */
    left: 0; right: 0; bottom: 0;
    margin: 0;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    line-height: 22px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 55px;
    transition: all 300ms ease;
    transition-delay: 300ms;
  }

/* Hovering over the wrapper shows its alt p*/
  .alt-wrap:hover > p.alt {
    opacity: 1;
    transition-delay: 0s;
  }
